<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vuetify with Vue 2</title>
  <!-- Vue 2 CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <!-- Vuetify CSS -->
  <link
    href="https://cdn.jsdelivr.net/npm/vuetify@2.6.15/dist/vuetify.min.css"
    rel="stylesheet"
  />
  <!-- Vuetify JS -->
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.15/dist/vuetify.js"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/vue-router@3.5.3/dist/vue-router.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuex@3.6.2/dist/vuex.min.js"></script>

</head>
<body>
  <div id="app"></div>
  <script type="module"  src="../static/js/app.js"></script>
</body>
</html>
